{% extends 'ReaderselfCoreBundle::base.html.twig' %}

{% block title %}{{ 'components'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% for object in feeds %}
        {% embed 'ReaderselfCoreBundle::card.html.twig' with {columns: 3} %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ object.title }}</span>
            {% endblock %}
            {% block card__supporting %}
                <a href="{{ path('readerself_core_feed', {action: 'read', id: object.id}) }}">{{ object.title }}</a>
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
