{% extends 'AxipiBackendBundle::base.html.twig' %}

{% import '@AxipiBackend/Component/macro.html.twig' as helper %}

{% block title %}{{ component.title }} - {{ 'components'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' with {form: form} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_component', {language: app.request.get('language'), action: 'delete', 'id': component.id}) }}">{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_component', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.component'|trans({}, 'axipi_backend') }}"></i>{{ 'components'|trans({}, 'axipi_backend') }}</a></span>
            {% if component.parent %}
                {{ helper.path_loop(component.parent) }}
            {% endif %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_component', {action: 'read', 'id': component.id}) }}">{{ component.title }}</a></span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--4-col">
                {{ form_row(form.category) }}
                {{ form_row(form.service) }}
                {{ form_row(form.template) }}
                {{ form_row(form.title) }}
                {{ form_row(form.zone) }}
                {{ form_row(form.parent) }}
                {{ form_row(form.icon) }}
                {{ form_row(form.submit) }}
            </div>
            <div class="mdl-cell mdl-cell--8-col">
                {{ form_row(form.isUnique) }}
                {{ form_row(form.isHome) }}
                {{ form_row(form.excludeSitemap) }}
                {{ form_row(form.excludeSearch) }}
                {{ form_row(form.isActive) }}
                {{ form_row(form.attributesSchema) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
