<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Welcome!{% endblock %}</title>

{% block meta %}
<link rel="icon" type="image/png" href="{{ asset('bundles/axipibackend/axipi-16x16.png') }}">
<link rel="icon" sizes="400x400" href="{{ asset('bundles/axipibackend/axipi-400x400.png') }}">
<link rel="apple-touch-icon" href="{{ asset('bundles/axipibackend/axipi-400x400.png') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow, noarchive">
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#3e4eb8">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="{{ asset('client/vendor/material-design-lite/material.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('client/app/base.css') }}">
{% endblock %}
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
    {% block header %}
        <header class="mdl-layout__header mdl-color--indigo">
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer">
                </div>
                <a class="mdl-button mdl-color--pink mdl-color-text--white" target="_blank" href="https://github.com/readerself">Code</a>
                <a class="mdl-button mdl-color--pink mdl-color-text--white" target="_blank" href="https://www.facebook.com/readerself">Community</a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
        </div>
    {% endblock %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            {% block body %}
                <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">
                            Client
                        </h1>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="client" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Go</a>
                    </div>
                </div>

                <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">
                            API Documentation
                        </h1>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="api/documentation" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Go</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </main>
</div>

{% block script %}
<script type="text/javascript" src="{{ asset('client/vendor/material-design-lite/material.min.js') }}"></script>
{% endblock %}

</body>
</html>
